<!-- TREATMENT -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/treatment/treatment.css" />
{{/unless}}
<section class="treatment {{ classes }}" {{#if id }}id="{{ id }}"{{/if}}>
    <div class="container">
        <article class="treatment__content">
            <h2>{{ title }}</h2>
            {{{ text }}}
            <picture>
                <img src="{{ picture }}" alt="{{ title }}" />
            </picture>
        </article>
        <div class="treatment__form">
            <div class="treatment__box">
                {{> @partial-block }}
                <div class="treatment__buy">
                    <div class="c-buy-block">
                        {{> c-order-button }}
                    </div>
                </div>
            </div>
        </div>
        <div class="treatment__extra">
            <ul class="e-features-list">
                <li>
                    {{> e-icon icon="guarantee" }}
                    30-Day Money-Back Guarantee
                </li>
                <li>
                    {{> e-icon icon="shipping-order" }}
                    Free Shipping over {$dyn}
                </li>
                <li>
                    {{> e-icon icon="proven" }}
                    Backed by Science
                </li>
            </ul>
            <div class="treatment__questions">
                Have questions about Micro-Infusion? <a href="#" class="btn btn--md btn--secondary">Chat with us!</a>
            </div>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "What can it do for your skin",
                        "text": "
                            <p>Designed to support smoother, brighter-looking skin with balanced hydration. </p>
                            <p>Helps soften the look of fine lines while improving the appearance of dark spots and uneven tone, leaving skin looking refreshed, plumper, and more luminous.</p>
                        "
                    },
                    {
                        "summary": "All Ingredients",
                        "text": "
                            <p><strong>Dark Spots Serum:</strong><br /> Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, SH-Oligopeptide-1.</p>
                            <p><strong>Wrinkles Serum:</strong><br /> Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Allantoin, Sodium Hyaluronate, Xanthan Gum.</p>
                            <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                        "
                    }
                ]'
            }}
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('treatment-new', 'sections/new/treatment/treatment.js');
        loadScriptOnce('dialog', 'assets/js-new/dialog.js');
    });
</script>
<!-- TREATMENT END -->
