<!-- ACCORDION TILES -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/accordion-tiles/accordion-tiles.css" />
{{/unless}}
<section class="accordion-tiles {{#if square }}accordion-tiles--square{{/if }}">
    <div class="container">
        <article>
            <h2>{{ title }}</h2>
            {{#if square }}
                <div
                    class="c-swiper"
                    data-swiper='{
                        "slidesPerView": 1.1,
                        "spaceBetween": 16,
                        "loop": false,
                        "breakpoints": {
                            "768": {
                                "slidesPerView": 2.1
                            },
                            "992": {
                                "slidesPerView": 3,
                                "spaceBetween": 32
                            }
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        {{#parseJson list }}
                            <div class="swiper-slide">
                                <img src="sections/new/accordion-tiles/images/{{ image }}.webp" alt="{{ summary }}" />
                                <details>
                                    <summary>{{ summary }} {{> e-icon icon="plus"}}</summary>
                                    <p>{{ text }}</p>
                                </details>
                            </div>
                        {{/parseJson}}
                    </div>
                </div>
            {{ else }}
                {{#parseJson list }}
                    <details>
                        <summary>
                            <img src="sections/new/accordion-tiles/images/{{ image }}.webp" alt="{{ summary }}" />
                            <span>{{ summary }} {{> e-icon icon="chevron"}}</span>
                        </summary>
                        <p>{{ text }}</p>
                    </details>
                {{/parseJson}}
            {{/if }}
            {{> @partial-block }}
        </article>
    </div>
</section>
<!-- ACCORDION TILES END -->
