<!-- TEXT SECTION -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/text-section/text-section.css" />
{{/unless}}
<section class="text-section {{ classes }}">
    <div class="container">
        <article>
            {{> @partial-block }}
        </article>
        {{#if problems }}
            <ul class="real-problems">
                {{#parseJson problems }}
                    <li>
                        <img src="{{ img }}" alt="{{ name }}" />
                        <h6>{{ name }}</h6>
                        <p>{{ desc }}</p>
                    </li>
                {{/parseJson}}
            </ul>
        {{/if }}
    </div>
</section>
<!-- TEXT SECTION END -->
