<dialog class="c-dialog {{ classes }}" id="{{ id }}">
    {{#if message}}
        <div class="c-dialog__message">{{{ message }}}</div>
    {{/if }}
    <div class="c-dialog__content">
        {{> @partial-block }}
    </div>
    {{#if disclaimer }}
        <div class="c-dialog__disclaimer">
            {{ disclaimer }}
        </div>
    {{/if }}
    <button class="c-dialog__close" type="button" onclick="{{ id }}.close()">
        {{> e-icon icon="cross"}}
    </button>
</dialog>
