<div class="c-options-selector">
    <p class="c-options-selector__title">{{ title }}:</p>
    <ul class="c-options-selector__list">
        {{#parseJson list }}
            <li>
                <label>
                    <input type="radio" name="{{ option }}" {{#if checked }}checked{{/if}} />
                    <img src="{{ img }}" alt="{{ name }}" />
                    <span>{{ name }}</span>
                </label>
            </li>
        {{/parseJson}}
    </ul>
    <button class="btn btn--sm btn--secondary" type="button" onclick="notifyAvailable.showModal()">Notify Me When Available</button>
</div>
