<div class="c-post-tile">
    <a href="#" class="c-post-tile__image">
        <img src="{{ image }}" alt="{{ title }}" />
        <div class="e-pill-badge e-pill-badge--sm">{{ tag }}</div>
    </a>
    <div class="c-post-tile__content">
        <ul class="c-post-tile__time">
            <li>{{ date }}</li>
            <li>{{ read }}</li>
        </ul>
        <h6 class="c-post-tile__title" href="#">{{ title }}</h6>
        <a class="btn btn--primary" href="#">Read More</a>
    </div>
</div>
